<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      รายการ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="กำลังโหลด...">
    </ion-refresher-content>

  </ion-refresher>

  <ion-searchbar [formControl]="searchControl"  (ionChange)="onSearchInput()"   [(ngModel)]="searchTerm"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  <ion-list>
    
    <ion-item lines="full" *ngFor="let item of datauser">
      <ion-avatar slot="start">
        <img src="/assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
      <p>ชื่อ:      {{ item.name }}    </p>
      <p>วันที่/เวลา:  {{ item.date }}   </p>
      <p>สถานะ:     {{ item.staus }}   </p>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>
