<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      หน้าแรก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-content>
          <ion-spinner *ngIf="loading"></ion-spinner>
        <div *ngFor="let item of user">
           
          <ion-grid>
              <ion-row>
                  <ion-col></ion-col>

                <ion-col>
                    <ion-img src="/assets/img/{{ item.img }}"    style="width: 100px; height: 100px; align-items: center"   ></ion-img>
                </ion-col> 
              
                <ion-col></ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                   <b>ชื่อ-นามสกุล:</b>    {{ item.username }}  {{ item.lastname }}
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                   <b>รหัสนักศึกษา:</b>      {{ item.student_code }} 
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                       <b>โรงเรียน: </b>   {{ item.name_school }} 
                      </ion-col>
                    </ion-row>




            </ion-grid>



        </div>
      </ion-card-content>
    </ion-card>

    

     
          <ion-grid>
              <ion-row align-items-center>
                <ion-col align-self-center>
                    <a href="http://"> <ion-img src="/assets/icon/test.png"    style="width:80px; height: 80px; "   ></ion-img> </a>
                  ผลการเรียน
                </ion-col>
                <ion-col align-self-center>
                    <a href="http://"> <ion-img src="/assets/icon/test.png"    style="width:80px; height: 80px; "   ></ion-img> </a>
                  ผลการเรียน
                </ion-col>
                <ion-col align-self-center>
                    <a href="http://"> <ion-img src="/assets/icon/test.png"    style="width:80px; height: 80px; "   ></ion-img> </a>
                  ผลการเรียน
                </ion-col>
                <ion-col align-self-center>
                    <a href="http://"> <ion-img src="/assets/icon/test.png"    style="width:80px; height: 80px; "   ></ion-img> </a>
                  ผลการเรียน
                </ion-col>
              </ion-row>
            </ion-grid>
       
</ion-content>
